{% extends 'base.html'%}
{%block content%}
<h1 class="display-4">Online Chat App</h1>
<hr class="my-4">
<p class="h3">Sign In</p>
   <form method = "post">
    {{form.hidden_tag}}
    <div class="form-group">
    <label for="email">
{{form.email.label}}
    </label>
    {{form.email(class = "form-control", id = email)}}
</div>
<div class="form-group">
    <label for="password">
        {{form.password.label}}
            </label>
            {{form.password(class = "form-control", id="password_login")}}
        </div>
<input type="submit" name="login" value = "Sign In">
   </form>
   <hr class="my-4">
   <p class= "h6">You don't have an account?Create one <a href="{{url_for('auth.register')}}">here</a></p>
   {% for message in get_flashed_messages() %}
    <div class="alert alert-{{ message[1] }}">{{ message[0] }}</div>
{% endfor %}
{%endblock%}